<div class="bg-primary top-0 sticky z-50">
    <nav class="container mx-auto relative px-4 py-4 flex justify-between items-center sticky top-0">
        <a routerLink="/" class="text-3xl font-bold leading-none">
            <img src="/mobile.svg" alt="logo" width="200" height="200" />
        </a>

        <div class="lg:hidden flex items-center space-x-2">
            <a routerLink="/cart" class="text-lg relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                </svg>
                <span *ngIf="totalItems > 0"
                    class="absolute text-xs -top-2 -right-2 bg-red-500 text-white font-bold px-2 py-1 rounded-full">
                    {{ totalItems }}
                </span>
            </a>
            <button class="navbar-burger flex items-center text-blue-600 p-3" (click)="toggleMenu()">
                <svg class="block h-4 w-4 fill-white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
        </div>

        <ul class="hidden lg:flex text-white lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
            <li><a routerLink="" class="font-bold">Home</a></li>
            <li><a routerLink="/products" class="font-bold">Products</a></li>
            <li><a routerLink="/aboutus" class="font-bold">About Us</a></li>
            <li><a routerLink="/contactus" class="font-bold">Contact Us</a></li>
        </ul>

        <div class="hidden lg:flex lg:ml-auto lg:space-x-5 mx-3">
            <a routerLink="/cart" class="text-lg relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                </svg>
                <span *ngIf="totalItems > 0"
                    class="absolute -top-2 -right-2 bg-[#F97316] text-white text-xs font-bold px-2 py-1 rounded-full">
                    {{ totalItems }}
                </span>
            </a>
        </div>

    </nav>

    <div *ngIf="isMenuOpen" class="navbar-menu relative z-50 lg:hidden">
        <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25" (click)="toggleMenu()"></div>
        <nav
            class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
            <div class="flex items-center mb-8">
                <a routerLink="/" class="text-3xl font-bold leading-none">
                    <img src=" /logoipsum-297.svg" alt="logo" width="200" height="200" />
                </a>
            </div>
            <ul>
                <li class="mb-1"><a routerLink="" class="text-lg block p-4 text-sm font-bold text-primary hover:text-blue-600 rounded
                        cursor-pointer">Home</a>
                </li>
                <li class="mb-1"><a routerLink="aboutus"
                        class="text-lg block p-4 text-sm font-bold text-primary hover:text-blue-600 rounded cursor-pointer">About</a>
                </li>
                <li class="mb-1">
                    <a routerLink="products"
                        class="text-lg block p-4 text-sm font-bold text-primary hover:text-blue-600 rounded cursor-pointer">
                        Products</a>
                </li>
                <li class="mb-1">
                    <a routerLink="contactus"
                        class="text-lg block p-4 text-sm font-bold text-primary hover:text-blue-600 rounded cursor-pointer">
                        Contact</a>
                </li>
            </ul>
            <div class="mt-auto">
                <a class="block py-2 px-2 text-center text-xs font-bold rounded-xl"
                    href="https://rachhadiyayash.github.io/Portfolio/" target="_blank" rel="noopener noreferrer">
                    Crafted with 💕 By <br /> Yash Raachhadiya
                </a>
            </div>
        </nav>
    </div>
</div>